.button_container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--secondary-bg-clr);
  color: var(--secondary-txt-clr);
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}

.button:hover {
  color: var(--accent-clr);
}
