.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Essas propriedades são opcionais */
.min_height {
  min-height: 75%;
}

.min_height main {
  max-width: 1200px;
  margin: 0 auto;
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}
