.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bg-clr);
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: var(--secondary-txt-clr);
  text-decoration: none;
}

.item a:hover {
  color: var(--accent-clr);
}
