.button {
  background-color: var(--secondary-bg-clr);
  color: var(--secondary-txt-clr);
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
}

/* Muda a cor do botão quando o mouse passar sobre ele */
.button:hover {
  color: var(--accent-clr);
}
