:root {
  --accent-clr: #ffbb33;
  --main-bg-clr: #efefef;
  --secondary-bg-clr: #222;
  --secondary-txt-clr: #fff;
  --tertiary-txt-clr: #7a7a7a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#root {
  background-color: var(--main-bg-clr);
  height: 100%;
}
